body {
  background-color: gray;
}

.titulo {
  display: flex;
  justify-content: center;
  background-color: rgb(50, 122, 50, 0.6);
  box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
  height: 90px;
}

.titulo h1 {
  text-anchor: middle;
  font-family: Impact;
  font-size: 3em;
  color: white;
}

.titulo img {
  width: 100px;
  height: 90px;
}

#button {
  background-color: "red";
  font-family: Georgia;
  font-size: 2.5em;
  color: green;
}

#button1 {
  background-color: "red";
  font-family: Georgia;
  font-size: 2.5em;
  color: green;
}
.cuerpito {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.cuerpito1 {
  display: flex;
  flex-direction: column;
  background-color: darkblue;
  margin-right: 5px;
}

.cuerpito1 img:first-child {
  width: 112px;
  height: 100px;
  margin-right: 5px;
  margin-bottom: 50px;
}

.cuerpito1 img:nth-child(2) {
  width: 112px;
  height: 100px;
  margin-right: 5px;
  margin-bottom: 50px;
}

.cuerpito1 span {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2em;
  color: whitesmoke;
}

.cuerpito2 {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  background-color: cadetblue;
}
.cuerpito2 img:first-child {
  width: 112px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.cuerpito2 img:nth-child(2) {
  width: 112px;
  height: 100px;
  margin-right: 5px;
  margin-bottom: 50px;
}

.cuerpito2 span {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2em;
  color: whitesmoke;
}
